WebServiceServer/src/hr/fer/tel/rassus/dz_1/SensorServerPortType.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#${svn.Last.Changed.Rev}. -->
<definitions targetNamespace="http://dz_1.rassus.tel.fer.hr/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://dz_1.rassus.tel.fer.hr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://dz_1.rassus.tel.fer.hr/" schemaLocation="SensorServerPortType_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="register">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:double"/>
    <part name="arg2" type="xsd:double"/>
    <part name="arg3" type="xsd:string"/>
    <part name="arg4" type="xsd:int"/>
  </message>
  <message name="registerResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="searchNeighbour">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="searchNeighbourResponse">
    <part name="return" type="tns:userAddress"/>
  </message>
  <message name="storeMeasurement">
    <part name="arg0" type="xsd:string"/>
    <part name="arg1" type="xsd:string"/>
    <part name="arg2" type="xsd:float"/>
  </message>
  <message name="storeMeasurementResponse">
    <part name="return" type="xsd:boolean"/>
  </message>
  <message name="unregister">
    <part name="arg0" type="xsd:string"/>
  </message>
  <message name="unregisterResponse"/>
  <portType name="SensorServer">
    <operation name="register" parameterOrder="arg0 arg1 arg2 arg3 arg4">
      <input ns1:Action="http://dz_1.rassus.tel.fer.hr/SensorServer/registerRequest" message="tns:register" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://dz_1.rassus.tel.fer.hr/SensorServer/registerResponse" message="tns:registerResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="searchNeighbour">
      <input ns3:Action="http://dz_1.rassus.tel.fer.hr/SensorServer/searchNeighbourRequest" message="tns:searchNeighbour" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://dz_1.rassus.tel.fer.hr/SensorServer/searchNeighbourResponse" message="tns:searchNeighbourResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="storeMeasurement" parameterOrder="arg0 arg1 arg2">
      <input ns5:Action="http://dz_1.rassus.tel.fer.hr/SensorServer/storeMeasurementRequest" message="tns:storeMeasurement" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://dz_1.rassus.tel.fer.hr/SensorServer/storeMeasurementResponse" message="tns:storeMeasurementResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="unregister">
      <input ns7:Action="http://dz_1.rassus.tel.fer.hr/SensorServer/unregisterRequest" message="tns:unregister" xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns8:Action="http://dz_1.rassus.tel.fer.hr/SensorServer/unregisterResponse" message="tns:unregisterResponse" xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

